
.teamTitle{
    text-align: center;
}
.teamTitle h3{
    columns: rgb(73, 67, 67);
    font-size: 25px;
    margin-bottom: 20px;
}

.views{
    width : 80%;
    margin-left : 10%;
  }
  
  .missionDescription{
    margin-bottom : 40px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
    border-radius : 20px;
  }
  
  .missionDescription h5{
    font-size : 25px;
    color : rgb(81, 48, 34);
    margin-left : 30px;
  }
  
  .missionDescription p{
    text-align : justify;
    margin-left : 30px;
    font-weight : 450;
    line-height : 30px;
    margin-right : 30px;
  }
  
  .missionDescription p span{
   margin-right : 10px;
  }
  
  @media (max-width : 780px){
    .missionDescription p{
      margin-right : 30px;
    }
  }