.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url("../Images//contactBG.jpg") no-repeat center;
    background : cover; */
}

.contact .contactContent{
    max-width: 800px;
    text-align: center;
}

.contact .contactContent h2{
    font-size: 36px;
    font-weight: 500;
    color: #000;
}


.contact .contactContent p{
    font-weight: 300;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.contactContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contactContainer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactContainer .contactInfo .boxContact{
    position: relative;
    padding: 20px 0;
    display: flex;
}


.contactContainer .contactInfo .boxContact .Icon{
    min-width: 60px;height: 60px;
    display: flex;
    justify-content: center;align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
}

.contactContainer .contactInfo .boxContact .textContact{
    display: flex;
    margin-left: 10px;
    font-size: 15px;
    flex-direction: column;
    font-weight: 300;
}

.contactContainer .contactInfo .boxContact .textContact h3{
    font-weight: 500;
    color: #0335be;
}

.contactContainer .contactInfo .boxContact .textContact p{
    font-size: 18px;
    font-weight: 400;
}
.contactContainer .contactInfo .boxContact .textContact p span{
    color: red;
}



.contactForm{
    width: 40%;
    padding: 40px;
}

.contactForm h2{
    font-size: 30px;color: maroon;
}

.contactForm .inputBox{
    position: relative;
    margin-top: 20px;
}

.contactForm .inputBox input{
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid;
    padding-left: 10px;
   
}
.contactForm .inputBox .btn-primary{
    cursor: pointer;
    background-color: blue;
}

.contactForm .inputBox textArea{
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid;
    padding-left: 10px;
    height: auto;
}

.contactForm .inputBox span{
    font-size: 18px;
}

@media (max-width: 768px){
    .contact{
        padding: 50px;
    }
    .contactContainer .contactInfo .boxContact .textContact p{
        font-size: 16px;
    }
    .contactContainer{
        flex-direction: column;
    }
    .contactForm{
        width: 100%;
    }
    .contactInfo{
        position : relative;
        margin: 0;
        width : 100%;
        left: -30px;
    }
    .contactContainer .contactInfo .boxContact {
        position: relative;
        left: -30px;
    }
    .contactContainer .contactInfo .boxContact .textContact{
       
        width: 100%;
    }
    .contactContainer .contactInfo .boxContact .textContact p{
        display: table;
    }
    
}