.productTitle {
  text-align: center;
  color: rgb(94, 3, 63);
}

.homeProducts {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-bottom: 20px;
}

.grid {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  width: 900em;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  align-items: start;
}

.grid .grid-item .card {
  width: 280px;
}

.grid-item {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translate(-0.5%);
  box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.5);
}
.card-image {
  display: block;
  width: 270px;
  height: 20rem;
  object-fit: cover;
  border-radius: 20px;
  /* margin-left: 5px; */
}

.card-header {
  font-size: 18px;
  font-weight: 500;
  color: maroon;
  text-align: center;
  margin-bottom: 10px;
}

.card-btn{
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    color : #3363ff;
    background-color: #d8e0fd;
    border :  none;
    border-radius: 0.4rem;
    transition: 0.3s;
    cursor: pointer;

}

.moreProducts{
    text-align: center;
    margin: 10px;
}
.moreProducts .moreButtonProducts{
    margin: 10px;
    border: none;
    width: 18%;
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    background-color: #f0c7a5;
    border :  none;
    border-radius: 0.4rem;
    transition: 0.3s;
    cursor: pointer;

}

.moreProducts .moreButtonProducts:hover{
    background-color: rgb(247, 144, 144);
}

.moreProducts .moreButtonProducts a{
    color : #5e281e;
}


.moreProducts .moreButtonProducts:hover a{
    color: rgb(255, 241, 241);
}

@media (max-width: 400px) {
  .grid {
    margin-left: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card-header {
    font-size: 18px;
    font-weight: 500;
    color: maroon;
    text-align: center;
  }
  .grid-item {
    margin-left: 40px;
  }
  .grid-item:hover {
    transform: translate(-0.10%);
    box-shadow: none;
  }
}

@media (max-width: 780px) {
  .grid {
    margin-left: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .card-header {
    font-size: 18px;
    font-weight: 500;
    color: maroon;
    text-align: center;
  }
}
